@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap");

:root {
  --main-bg-color: #ffffff;
  --nav-bg-color: #070707;
  --highlight: #1d1c1c;
  --highlight-alt: #332f2fde;
  --secondary-text: #3b3030;
}

body {
  margin: 0px;
  padding: 0px;

  background-color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}

.logo img {
  width: 150px;
}

.logo img:hover {
  cursor: pointer;
}
.r-main {
  width: 100%;
  height: 1800px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 850px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--nav-bg-color);
}
nav ul {
  display: flex;
}
.active {
  background-color: var(--highlight);
  color: #1d1c1c;
  transition: all ease 0.2s;
}
nav ul li a {
  font-family: "Montserrat", sans-serif;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-bg-color);
  letter-spacing: 1px;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover {
  color: var(--main-bg-color);
  background-color: var(--highlight);
  transition: all ease 0.2s;
  cursor: pointer;
}

nav .logo,
nav .menu li {
  color: var(--main-bg-color);
}

svgline {
  top: 1000px;
}

#hello {
  font-family: "Montserrat" !important;
  font-weight: 900 !important;
  color: var(--main-bg-color);
  text-shadow: -1px -1px 0 var(--highlight), 1px -1px 0 var(--highlight),
    -1px 1px 0 var(--highlight), 1px 1px 0 var(--highlight);
}

.name {
  font-family: "Montserrat", sans-serif;
  width: 600px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
}
.name span {
  color: var(--highlight);
  border-bottom: 0;
  text-shadow: none;
}

#wave-emoji {
  color: var(--highlight);
  text-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal !important;
}

.name .details {
  color: #383535;
}

@media (min-width: 1190px) {
  .result-txt {
    font-size: 50px;
  }
}
@media (max-width: 970px) {
  .result-txt {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .result-txt {
    font-size: 40px;
  }
}
.name h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  margin: 0px;
  letter-spacing: 3px;
  color: var(--highlight);
}

.header-btns {
  justify-content: center;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.photo {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);

  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cv-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight);
  border-radius: 0px;
  color: var(--main-bg-color);
  transition: all ease 0.5s;
}
.cv-btn::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 40px;
  border: 1px solid var(--highlight);
  z-index: -1;
  transition: all ease 0.5s;
}
.cv-btn:hover {
  cursor: pointer;
  transform: translate(-12px, -12px);
}
.cv-btn:hover::after {
  cursor: pointer;
  transform: translate(6px, 6px);
}

.to-top-btn {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color) 6;
  border-radius: 0px;
  margin-left: 20px;
  transition: all ease 0.5s;
}

.to-top-btn:hover {
  background-color: var(--main-bg-color);
  transition: all ease 0.5s;
  color: var(--highlight);
  cursor: pointer;
}

.project-image-head {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.project-image {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#features {
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 5% 0px 5%;
  position: relative;
}

.features-text {
  width: 45%;
  color: var(--highlight);
  list-style: circle;
}
.features-text h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Montserrat" !important;
  font-weight: 900 !important;
  margin: 0px;
  padding: 0px;
}

.features-text p {
  font-size: 1.2rem;
  color: var(--secondary-text);
}
.features-text button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border-radius: 0px;
  border: none;
  outline: none;
  color: var(--main-bg-color);
  background-color: var(--highlight);
  transition: all ease 0.3s;
}
.features-text button:hover {
  background-color: var(--main-bg-color);
  transition: all ease 0.3s;
  color: var(--highlight);
  border: 1px solid var(--highlight);
  cursor: pointer;
}
.features-model {
  width: 50%;
}
.features-model img {
  width: 350px;
  border-radius: 5px;
}

.features-text a {
  font-size: 1.1rem;
}

/***result page***/

#result-container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  padding: 40px 5% 0px 5%;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column !important ;
  align-items: center;
  flex-wrap: nowrap;
}

.box1 h1 {
  text-align: center;
}
.box2 {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.box2 span {
  width: 10%;
}
.box3 {
  align-items: center;
}
.content {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  width: 15rem;
  display: inline-block;
}

.chart {
  width: 400px;
  height: 400px;
}
.video {
  display: inline-block;
  flex-grow: 1;
  width: 400px;
  height: 900px;
  padding: 0;
  overflow: hidden;
}
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content li {
  list-style: none;
  padding-left: 0px;
}

.result_image {
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 15rem;
  width: 100%;
}

#services {
  margin-top: 120px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.s-heading h1 {
  color: var(--highlight);
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat" !important;
  font-weight: 900 !important;
}
.s-heading p {
  color: var(--highlight);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}

.b-container {
  display: grid;
  margin: 50px;
  justify-content: center;
  align-content: center;
}

.c-container {
  margin-top: 0;
  flex-direction: column;

  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-content: center;
}

.c-container h2 {
  margin-top: 0;
  font-size: 25px;
}

.m-container {
  display: flex;
  margin: 50px;
  height: 1000vh;
  justify-content: center;
  align-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  display: inline-flex;
  text-align: center;
  color: white;
}

.ta {
  width: 300px;
  height: 200px;
  border-width: 3;
  border-color: black;
  border-style: groove;
  font-family: Montserrat;
  overflow-x: auto;
}
.footer-social {
  display: inline-flex;
  text-align: center;
}

.footer-social p {
  padding: 0 10px;
  color: var(--main-bg-color);
  text-decoration: none;
}

.footer-p {
  padding: 0 10px;
  color: var(--main-bg-color);
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.1s ease-in;
}

.footer p {
  padding: 0 10px;
}

.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.1s ease-in;
}

#subscribe {
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  margin-top: 80px;
  padding: 30px 0px;
}
#subscribe h3 {
  font-family: "Montserrat" !important;
  font-weight: 900 !important;
  font-size: 2.5rem;
  margin: 20px;
  color: var(--main-bg-color);
}

/**CARD**/

.projectlayout {
  display: flex;
  align-items: center;
  color: #464545;
  margin: auto 8rem auto;
  padding: auto;
}

@media (max-width: 1190px) {
  svg {
    margin-top: 300px;
  }

  video {
    display: none;
  }

  /**Cards **/

  .projectlayout {
    display: block;
    width: 400px;
    align-items: left;
    margin: auto;
    padding: auto;
  }

  .features-model img {
    height: auto;
    display: block;
  }

  .projecttext {
    width: 100%;
    height: auto;
    padding: 0px 40px 90px;
  }

  .projectlayout img {
    height: 90% !important;
    width: 90% !important;
  }
}

.projectlayout img {
  height: 25%;
  width: 25%;
  padding: 10px;
  margin: 20px 50px 20px 20px;
  border-radius: 12px;
}

.projecttext {
  margin: 0;
}

/*****RESPONSIVE******/

@media (max-width: 1190px) {
  .main {
    background-size: 1150px !important;
  }
  .r-main {
    background-size: 1150px !important;
  }
  .c-container {
    margin-top: 0;
    width: 350px;
    height: 350px;
  }
  label {
    font-size: 15px;
  }

  .video li h3 {
    font-size: 25px;
  }

  .name {
    font-family: "Montserrat", sans-serif;
    width: 600px;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .header-btns {
    position: absolute;
    left: 50%;

    text-align: center;
    justify-content: center;
    top: 120%;
    transform: translate(-50%, -50%);
  }

  .projectlayout img {
    margin: 20px -50px 20px 20px;
  }
  .features-model img {
    width: 80%;
    height: auto;
    display: block;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 970px) {
  .main {
    background-size: 970px !important;
  }
  .r-main {
    background-size: 970px !important;
  }
  .c-container {
    margin-top: 0;
    width: 350px;
    height: 350px;
  }

  .m-container {
    margin-top: 500px;
  }
  #services {
    margin-top: -60px;
  }

  .features-model {
    display: none;
  }
  .s-heading h1 {
    font-size: 2.5rem;
  }
  .features-text h2 {
    font-weight: 600;
  }
  .b-container {
    margin-top: 30px;
  }
  #subscribe h3 {
    font-size: 2.5rem;
  }
  #features {
    margin-top: -60px;
    justify-content: center;
    padding-top: 0px;
    font-size: 2rem;
    text-align: center;
  }
  .f-heading {
    display: none;
  }
  .features-text {
    width: 90%;
  }
  .features-text h1 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .main {
    background-size: 600px !important;
  }
  .r-main {
    background-size: 600px !important;
  }
  label {
    font-size: 15px;
  }

  .name {
    width: 80%;
  }
}
.scroll {
  left: 42.5%;
}

@media (max-width: 1100px) {
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    width: 150px;
  }
  .header-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
    background-color: white !important;
    color: white !important;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    color: white !important;
    border: 1px solid rgba(158, 155, 0, 0.03);
  }

  .navbar {
    color: white;
  }
}
